table {
    background-color: beige;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 10%;
    white-space: nowrap;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}